<div *ngIf="headerVisible" style="overflow-y: hidden;">
  <div class="header">
  </div>

  <mat-toolbar color="primary" style="height: 45px;">
    <button mat-raised-button color="accent" class="button" style="background-color: red;" [matMenuTriggerFor]="menuCurriculum" #menuCurriculumTrigger="matMenuTrigger" >Curriculum</button>
    <button mat-raised-button color="accent" class="button" style="background-color: greenyellow;min-width: 200px;" [matMenuTriggerFor]="menuWrksheet">Worksheet/Activities</button>
    <button mat-raised-button color="accent" class="button" style="background-color: rgb(209, 209, 47);" [matMenuTriggerFor]="menuTutorials">Tutorials</button>
    <button mat-raised-button color="accent" class="button" style="background-color: rgb(209, 209, 47);" [routerLink]="['quizes']">Quizes</button>
    <button mat-raised-button color="accent" class="button" style="background-color:  coral;" [matMenuTriggerFor]="menuCaseStudies">Case Studies</button>
    <button mat-raised-button color="accent" class="button" style="background-color:  rgb(88, 187, 182);" [matMenuTriggerFor]="menuEExhibitions">E-Exhibitions</button>
    <button mat-raised-button color="accent" class="button" style="background-color:  rgb(88, 187, 182);min-width: 250px;" [matMenuTriggerFor]="menuMindmap">Mindmap/Concept-Maping</button>
  </mat-toolbar>
</div>
<!-- (mouseleave)="menuCurriculumTrigger.closeMenu()" -->
<mat-menu #menuCurriculum="matMenu">
  <span class="locations">
    <button mat-menu-item [routerLink]="['studentpadegogycompanion']">Students Padegogy companion</button>
    <button mat-menu-item [routerLink]="['teacherpadegogycompanion']">Teacher Padegogy  companion</button>
  </span>
</mat-menu>

<mat-menu #menuWrksheet="matMenu">
  <button mat-menu-item [routerLink]="['foundation']">FOUNDATION(1 TO 2)</button>
  <button mat-menu-item [routerLink]="['middle']">MIDDLE</button>
  <button mat-menu-item [routerLink]="['secondary']">SECONDARY</button>
  <button mat-menu-item [routerLink]="['srsec']">SR. SECONDARY</button>
  <button mat-menu-item [routerLink]="['analysis']">ANALYSIS & REPORT GENERATION</button>
</mat-menu>

<mat-menu #menuTutorials="matMenu">
  <button mat-menu-item [routerLink]="['animatedvideos']">Animated Videos</button>
  <button mat-menu-item [routerLink]="['videosfromteacher']">Videos from teacher</button>
</mat-menu>

<mat-menu #menuCaseStudies="matMenu">
  <button mat-menu-item [routerLink]="['democlassvideos']">Demo Class Videos</button>
</mat-menu>

<mat-menu #menuEExhibitions="matMenu">
  <button mat-menu-item [routerLink]="['artgallerystudent']">Art Gallery of Students</button>
</mat-menu>

<mat-menu #menuMindmap="matMenu">
  <button mat-menu-item [routerLink]="['mindmapping']">Conceptual/Topic wise mind mapping</button>
</mat-menu>

<router-outlet></router-outlet>
