<h1 style="text-align: center;margin-top: 20px;">Animated Videos</h1>
<form *ngIf="formVisible" (ngSubmit)="onSubmit(videoForm.value)" #videoForm="ngForm" style="text-align: center;"  autocomplete="off">
  <mat-form-field appearance="fill" style="width: 400px;">
    <mat-label>Select Grade</mat-label>
    <mat-select [(ngModel)]="selectedGrade" name="grade">
      <mat-option *ngFor="let grade of grades" [value]="grade.value">
        {{grade.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/><br/>
  <mat-form-field appearance="fill"  style="width: 400px;">
    <mat-label>Select Subject</mat-label>
    <mat-select [(ngModel)]="selectedSubject" name="subject">
      <mat-option *ngFor="let subject of subjects" [value]="subject.value">
        {{subject.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div style="text-align: center;">
    <button mat-flat-button  class="loginButton" type="submit">
      Submit
    </button>
  </div>
</form>

<!-- <div *ngIf="videoData" style="width: 100%;" >
  <div *ngFor="let video of videoData[0].videos" style="width: 350px;" class="row">
    <iframe width="320" height="215"
    [src]="this._sanitizer.bypassSecurityTrustResourceUrl(video)">
    </iframe>
  </div>
</div> -->

<mat-grid-list *ngIf="videoData" cols="4">
  <mat-grid-tile *ngFor="let video of videoData[0].videos" >
    <iframe width="560" height="250" frameborder="0" allowfullscreen class="framestyle"
    [src]="this._sanitizer.bypassSecurityTrustResourceUrl(video)">
    </iframe>
  </mat-grid-tile>
</mat-grid-list>



